@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
:root {
  --purple-hover: #9d5cd0;
  --purple-active: #7943a4;
}
body {
  font-family: opensans;
}
.body {
  padding-right: 17px;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

/*Header*/
.header-section {
  position: absolute;
  top: 0;
  z-index: 3;
  width: calc(100% - 17px);
}
.header-container {
  max-width: 100%;
}
.header-content {
  width: 100%;
  left: 0;
}
.hero-header-background {
  background-color: rgba(0, 0, 0, 40%);
}
.hero-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px 21px 9px;

}
.header-background {
  background-color: #000000;
}
.header {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  display: flex;
  align-items: center;
  padding: 30px 0px;
  padding-left: 13px;
  justify-content: space-between;
}


.header__img {
  margin-right: -90px;
}

.header-nav__list {
  display: flex;
}
.header-nav__item {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  min-width: 50px;
}
.header-nav__link {
  color: #ffffff;
  transition: color 0.2s linear;
}
.header-nav__item:not(:last-child) {
  margin-right: 62px;
}

.header-nav__link:hover {
  color: var(--purple-hover);
}
.header-nav__link:active {
  color: var(--purple-active);
}
.header-nav__link:focus {
  outline: 2px solid #7943a4;
  outline-offset: 3px;
}
.header-button {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: color 0.2s linear;
  min-width: 84px;
  transform: translateX(17px);
}
.header-button:hover {
  color: var(--purple-hover);
}
.header-button:active {
  color: var(--purple-active);
}
.header-button .header-button__svg path {
  transition: fill 0.2s linear;
}
.header-button:hover .header-button__svg path {
  fill: var(--purple-hover);
}
.header-button:active .header-button__svg path {
  fill: var(--purple-active);
}

.header__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.header-burger {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hero-header__list {
  margin-right: auto;
  display: flex;
}
.hero-header-item {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.2s linear;
}
.hero-header-item:not(:last-child) {
  margin-right: 82px;
}
.hero-header-item .hero-header-item__svg path {
  transition: stroke 0.2s linear;
}
.hero-header-item__button:hover .hero-header-item__svg path {
  stroke: var(--purple-hover);
}
.hero-header-item__button:active .hero-header-item__svg path {
  stroke: var(--purple-active);
}
.hero-header-item__button {
  padding: 0;
  padding-right: 14px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  transition: color 0.2s linear;
  cursor: pointer;
}
.hero-header-item__button:hover {
  color: var(--purple-hover);
}
.hero-header-item__button:active {
  color: var(--purple-active);
}
.hero-dropdown {
  padding: 40px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 60%);
  position: absolute;
  left: 0px;
  top: 50px;
  overflow: scroll;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  width: 2px;
  left: 0;
}
.simplebar-scrollbar::before {
  background: #ffffff;
  height: 28px;
  width: 2px;
  border-radius: 0;
}
.simplebar-track.simplebar-vertical {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: #000000;
  width: 2px;
}
.simplebar-track.simplebar-horizontal {
  display: none;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  display: none;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  display: none;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.hero-dropdown--1 {
  display: none;
}
.hero-dropdown--2 {
  display: none;
}
.hero-dropdown--3 {
  display: none;
}
.hero-dropdown--4 {
  display: none;
}
.hero-dropdown--5 {
  display: none;
}
.hero__dropdown_list_active {
  display: block;
}
.hero-dropdown__item {
  padding: 9px 14px 12px 14px;
}
.hero-dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}
.hero-dropdown__item--1 {
  background-image: url(../img/dropdown1-1.png);
}
.hero-dropdown__item--2 {
  background-image: url(../img/dropdown1-2.png);
}
.hero-dropdown__item--3 {
  background-image: url(../img/dropdown1-3.png);
}
.hero-dropdown__item--4 {
  background-image: url(../img/dropwodwn1-4.png);
}
/*Hero*/
.hero__container {
  margin: 0;
  max-width: 1920px;
}
.hero__content {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 242px;
  left: 154px;
}

.hero__content_text {
  margin-bottom: 19px;
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
  width: 597px;
  pointer-events: none;
}
.hero__content_text-2 {
  margin-left: 5px;
  margin-bottom: 92px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  width: 579px;
  pointer-events: none;
}
.hero__button {
  margin-left: 5px;
  padding: 22.5px 35px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  background-color: #9d5cd0;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
}
.hero__button:hover {
  box-shadow: 0 0 0 2pt #c283f3;
}
.hero__button:active {
  background-color: var(--purple-active);
  box-shadow: 0 0 0 2pt #c283f3;
}
.swiper-container {
  overflow: hidden;
  height: 800px;
}
.hero__swiper_image-1 {
  height: 100%;
  background-image: url(../Img/hero-slider-1.png);
}
.hero__swiper_image-2 {
  height: 100%;
  background-image: url(../Img/hero_slider_2.png);
}
.hero__swiper_image-3 {
  height: 100%;
  background-image: url(../Img/hero_slider_3.png);
}

.hero-header-form {
  display: flex;
  justify-content: center;
}
.hero-header-form__button {
  padding-left: 0;
  padding-right: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.hero-header-form__svg {
  transform: translateY(4px);
}
.hero-header-form__input {
  margin-right: -4px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #ffffff;
  width: 215px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  transition: border-color 0.2s linear;
}
.hero-header-form__button .hero-header-form__svg rect {
  transition: fill 0.2s linear;
}
.hero-header-form__button .hero-header-form__svg path {
  transition: fill 0.2s linear;
}
.hero-header-form__input::placeholder {
  color: #ffffff;
}

.hero-header-form:hover .hero-header-form__input {
  border-color: var(--purple-hover);
}
.hero-header-form:hover .hero-header-form__button .hero-header-form__svg rect {
  fill: var(--purple-hover);
}
.hero-header-form:hover .hero-header-form__button .hero-header-form__svg path {
  fill: var(--purple-hover);
}

/*About__us*/

.about__us_container {
  padding: 80px 0px 67px 0px;
}
.about__us_content_heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
  color: #333333;
}
.about__us_content_p {
  margin: 0;
  width: 1080px;
  line-height: 32px;
  font-size: 16px;
}

/*Gallery*/
.gallery {
  background-image: url(../Img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.png);
}
.gallery__select {
  margin-bottom: 550px;
}

.gallery__container {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
}

.gallery__heading {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
  color: #ffffff;
}
.gallery__select_p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.gallery__select_p_2 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  width: 400px;
}
.gallery__select_p_2_1024px {
  display: none;
  color: #ffffff;
  line-height: 32px;
  margin-bottom: 0;
}
.gallery__p_button {
  background-color: transparent;
  border: none;
  color: var(--purple-hover);
  cursor: pointer;
}

.gallery__content-right {
  position: relative;
  margin-top: auto;
}

.swiper-container_2 {
  width: 1150px;
  height: 750px;
  overflow: hidden;
}

.swiper-container_2 .swiper-slide {
  height: 350px;
}
.swiper-pagination_gallery {
  position: absolute;
  top: -53px;
  left: 44px;
  color: #ffffff;
}

.left {
  top: -45px;
  left: 100px;
  transform: translate(-50%, -50%);
  --swiper-navigation-size: 30px;
  height: 30px;
  width: 30px;
  background-color: #666666;
  background-image: url(../img/select-up.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  border-radius: 50%;
  color: transparent;
  transform: rotate(180deg);
  transition: background-color 0.2s linear;
}
.left:hover {
  background-color: var(--purple-hover);
}
.rigth:hover {
  background-color: var(--purple-hover);
}
.left:active {
  background-color: var(--purple-active);
}
.rigth:active {
  background-color: var(--purple-active);
}

.gallery__svg_left {
  transform: translateX(75%);
}
.gallery__svg_right {
  transform: rotate(180deg) translateX(-75%);
}
.rigth {
  height: 30px;
  width: 30px;
  background-color: #666666;
  background-image: url(../img/select-up.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  border-radius: 50%;
  top: -30px;
  left: 15px;
  transform: translate(-50%, -50%);
  color: transparent;
  --swiper-navigation-size: 30px;
  transition: background-color 0.2s linear;
}


.choices__inner {
  width: 400px;
  min-height: 0;
  background-color: transparent;
  border-radius: 6px;
  color: #ffffff;
  border-color: #ffffff;
}


.choices__input {
  width: 400px;
}
.choices__list--dropdown .choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #999999;
}
.choices__list--dropdown.is-active {
  background-color: transparent;
  width: 400px;
  border-radius: 6px;
  color: #999999;
  border-color: #999999;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}
.choices {
  width: 400px;
}
.choices__list--dropdown .choices__item--selectable {
  transition: color 0.2s linear;
}
.choices__list--dropdown .choices__item--selectable:hover {
  background-color: transparent;
  color: #ffffff;
}
.is-open .choices__inner {
  border-radius: 6px;
  border-color: #ffffff;
  position: relative;
  z-index: 22;
}
.is-focused .choices__inner {
  border-color: #ffffff;
}
.choices[data-type*=select-one]:after {
  margin-top: -7px;
  border: none;
  width: 13px;
  height: 13px;
  background-image: url(../img/select_arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.choices[data-type*=select-one].is-open:after {
  margin-top: -7px;
  width: 13px;
  height: 13px;
  border: none;
  border-color: transparent;
  background-image: url(../img/select_arrow.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center center;
}

/*Catalog*/


.catalog__container {
  padding: 70px 0px 58px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.catalog__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.catalog__flags_img {
  cursor: pointer;
  transition: filter 0.2s linear, box-shadow 0.2s linear;
  border-radius: 50%;
}
.catalog__flags_img:not(:last-child) {
  margin-right: 50px;
}
.catalog__flags_img:hover {
  filter: drop-shadow(0px 0px 20px var(--purple-hover));
}
.catalog__flags_img:active {
  box-shadow: 0 0 0 2pt var(--purple-active);
}

.catalog__heading {
  margin: 0;
  margin-right: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
  color: #333333;
}
.catalog__top_p {
  margin: 0 520px 35px 0;
  line-height: 32px;
}


.catalog__domenico {
  margin-right: auto;
  max-width: 750px;
}
.catalog__domenico_1024px {
  display: none;
}

.catalog__domenico_heading {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
}
.catalog__domenico_date {
  color: #999999;
  font-size: 12px;
}
.catalog__domenico_text {
  margin-top: 0;
  line-height: 32px;
}

.catalog__accordion {
  width: 800px;
}
.catalog__accordion_content {
  display: flex;
}
.catalog__accordion_content_p {
  margin-right: 50px;
  line-height: 32px;
  width: 208px;
}
.catalog__accordion_content_p_1600 {
  display: none;
  line-height: 32px;
}
.catalog__accordion_heading {
  position: relative;
}
.catalog__accordion_btn {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  text-align: center;
  transition: background-color 0.2s linear;
}
.catalog__accordion_btn_svg {
  transform: translateY(70%);
}
.my__accordion-header-active {
  background-color:transparent;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  color: #000000;
}
.ui-accordion .ui-accordion-header {
  padding: 38px 3px 44px 3px;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.my__accordion-header-collapsed {
  background-color: transparent;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition: border-top 0.2s linear, border-bottom 0.2s linear, color 0.2s linear;
}

.my__accordion-header-collapsed:hover {
  color: var(--purple-hover);
  border-top: 1px solid var(--purple-hover);
  border-bottom: 1px solid var(--purple-hover);
}
.my__accordion-header-collapsed .catalog__accordion_btn_svg path{
  transition: stroke 0.2s linear;
}
.my__accordion-header-collapsed:hover .catalog__accordion_btn_svg path{
  stroke: #ffffff;
}
.my__accordion-header-collapsed:hover .catalog__accordion_btn {
  background-color: var(--purple-hover);
}
.my__accordion-header-collapsed:active .catalog__accordion_btn {
  background-color: var(--purple-active);
}

.my__accordion-header-collapsed .catalog__accordion_btn_svg {
  transform: rotate(180deg) translateY(-100%);
}




.my__accordion-content {
  border: none;
}

.ui-state-focus {
  background-color: transparent;
  border: none;
}

/*Events*/
.events__container {
  padding: 0 0px 80px 0px;
}
.events__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
  color: #333333;
}
.events__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.events__list_item {
  margin-bottom: 50px;
  width: 500px;
  border: 1px solid #cacaca;
}
.events__list_item_2 {
  margin-bottom: 50px;
  width: 500px;
  border: 1px solid #cacaca;
}

.events__item_date {
  margin: 10px;
  margin-left: auto;
  margin-right: 20px;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  max-width: 211px;
  width: max-content;
}
.events__item_heading {
  margin: 10px 50px 10px 50px;
  font-size: 24px;
  font-weight: 600;
  min-width: 420px;
  width: min-content;
}
.events__item_content {
  margin: 10px 50px 80px 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.events__item_link {
  display: block;
  margin: 0 50px 50px 50px;
  color: #9d5cd0;
  border-bottom: 1px solid #9d5cd0;
  width: 92px;
}

.events__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 17px 35px;
  background-color: transparent;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: #9d5cd0;
  cursor: pointer;
}
.swiper-container-events {
  display: none;
}
.events_item_hide {
  display: none;
}

/*Editions*/
.editions {
  background-image: url(../Img/editions_background.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.editions__container {
  padding: 80px 0px 80px 0px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
.editions__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
  color: #ffffff;
}

.editions__content_right {
  position: relative;
}


.editions__categories {
  margin-bottom: 40px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.editions__categories_item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox_label {
  transition: color 0.2s linear;
}

.checkbox:checked+label::before {
  background-image: url(../img/checkbox_editions.svg);
  background-position: center center;
  border: 1px solid #c283f3;
}
.checkbox:checked+.checkbox_label {
  color: #c283f3;
}
.editions__categories_item:active {
  color: var(--purple-active);
}
.editions__categories_item:active .checkbox+label::before {
  border-color: var(--purple-active);
}
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: border-color 0.2s linear;
}
.checkbox_label {
  cursor: pointer;
}
.editions__price {
  padding: 0 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 277px;

}
.editions__price_input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  width: 73px;
  background-color: rgba(157, 97, 208, 0.5);
}
.editions__price_label {
  color: #ffffff;
  margin-top: 9px;

}
.editions__from {
  color: white;
  margin-top: 9px;
}
.editions__p {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 700;
}

.editions__price_input::-webkit-outer-spin-button,
.editions__price_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.swiper-container_3 {
  margin-top: 94px;
  width: 1150px;
  height: 512px;
  overflow: hidden;
}
.swiper-pagination_editions {
  position: absolute;
  top: 40px;
  left: 47px;
  width: 47px;
  color: #ffffff;
}
.editions__content_right .left {
  position: absolute;
  cursor: pointer;
  top: 34px;
}
.editions__content_right .rigth {
  cursor: pointer;
  position: absolute;
  top: 49px;
}
.gallery__svg_left {
  transform: translateX(75%);
}
.editions__content_right .rigth .gallery__svg_right {
  transform: rotate(180deg) translateX(-75%) translateY(-50%);
}
.editions__content_right .left .gallery__svg_left {
  transform: translateX(10px) translateY(7px) ;
}
.editions__swiper_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editions__swiper_p {
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}
.editions__swiper_p_2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  margin-right: 150px;

}
.editions__swiper_p_price {
  margin-bottom: 5px;
  font-style: italic;
  color: #ffffff;
}
.editions__swiper_button {
  margin-left: 1px;
  padding: 8px 23px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid var(--purple-hover);
  border-radius: 100px;
  transition: background-color 0.2s linear;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}
.editions__swiper_button:hover {
  background-color: var(--purple-hover);
}
.editions__swiper_button:active {
  box-shadow: 0 0 0 2pt #c283f3;
  background-color: var(--purple-active);
}

/*Projects*/

.projects__container {
  padding: 80px 0px;
}
.projects__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
  color: #333333;
}
.projects__content_p {
  display: inline-block;
  line-height: 32px;
  max-width: 1080px;
  width: max-content;
}
.projects__tooltip_icon {
  position: relative;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.projects__tooltip_icon:hover .projects__popup{
  opacity: 1;
}
.projects__popup {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px 15px;
  font-size: 12px;
  background-color: #cacaca;
  color: #ffffff;
  width: max-content;
  max-width: 264px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  line-height: 16px;
}
.projects__popup::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #cacaca;
  left: calc(50% - 6px);
  bottom: -6px;
  transform: rotate(45deg);
}

.projects__swiper_heading {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
}
.projects__slider {
  position: relative;
}
.swiper-container_4 {
  margin-left: auto;
  margin-right: auto;
  width: 1450px;
  height: 150px;
  overflow: hidden;
}
.projects__swiper_slide {
  padding-top: 40px;
  padding-bottom: 50px;
  border: 1px solid #cacaca;
  text-align: center;
  filter: grayscale(100%);
  cursor: pointer;
}
.projects__swiper_slide:hover {
  filter: grayscale(0);
}
.projects__container .left {
  position: absolute;
  cursor: pointer;
  right: 0;
  left: auto;
  top: 60px;
  background-color: #ececec;
}
.projects__container .rigth {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 75px;
  background-color: #ececec;
}

.projects__container .rigth .projects__svg_right {
  transform: rotate(180deg) translateX(-75%) translateY(-50%);
}
.projects__container .left .projects__svg_left {
  transform: translateX(10px) translateY(7px) ;
}
.projects__container .rigth .projects__svg_right path {
  stroke: #000000;
}
.projects__container .left .projects__svg_left path {
  stroke: #000000;
}

/*Contacts*/
.contacts__heading {
  margin: 0;
  color: #333333;
  margin-bottom: 15px;
  margin-left: 160px;
  margin-right: 1400px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
}
.contacts__container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
}
.contacts__content_left {
  padding: 125px 137px 124px 160px;
  border: 1px solid #cacaca;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
.contacts__left_p-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__form_p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}
.contacts__input {
  margin-bottom: 23px;
  padding: 9px 24px 9px 24px;
  border-radius: 100px;
  border: 1px solid #333333;
  width: 400px;
}
.contacts__form_button {
  margin-bottom: 20px;
  padding: 19px 35px;
  background-color: transparent;
  width: 157px;
  border-radius: 100px;
  color: var(--purple-hover);
  border: 2px solid var(--purple-hover);
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.contacts__form_button:hover {
  background-color: var(--purple-hover);
  color: #ffffff;
}
.contacts__social {
  margin-right: 21px;
}

.my_map {
  height: 700px;
  width: 1220px;
}

/*Footer*/
.footer {
  background-color: #000000;
}
.footer__container {
  padding: 40px 0px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social_img:not(:last-child) {
  margin-right: 15px;
}






















/*Media*/

@media (max-width:1600px) {
  /*Header*/
  .header__container {
    background-color: #000000;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  header {
    position: relative;
  }
  .header-content {
    min-width: auto;
  }
  .header__nav {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header__img {
    margin-left: auto;
    margin-right: auto;
  }
  .header__burger {
    display: block;
  }
  .header {
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }
  .header-burger {
    display: block;
  }
  /*Hero*/
  .hero__container {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  .hero-header {
    display: none;
  }
  .hero__content {
    top: 115px;
  }
  .hero__button {
    margin-bottom: 114px;
    margin-left: 50px;
  }
  .hero__content_text-2 {
    margin-left: 50px;
    margin-bottom: 135px;
    min-width: 661px;
  }
  .swiper-container {
    height: 668px;
  }
  .hero__content_text {
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .hero__swiper_image-1 {
    background-image: url(../img/hero-slide-1600-3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__swiper_image-2 {
    background-image: url(../img/hero-slider-1600-2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__swiper_image-3 {
    background-image: url(../img/hero-slide-1600.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swiper-container .swiper-slide{
    height: 668px;
  }
  
  .choices__inner {
    width: 280px;
  }
  .choices__input {
    width: 280px;
  }
  .choices__list--dropdown.is-active {
    width: 280px;
  }
  .choices {
    width: 280px;
  }
  .gallery__select_p_2 {
    max-width: 280px;
  }
  .gallery__select {
    margin-bottom: 366px;
  }
  /*About us */
  .about__us_container {
    padding-bottom: 70px;
  }
  .about__us_content_p {
    width: 925px;
  }
  /*Gallery*/
  .gallery__heading {
    margin-bottom: 20px;
  }
  .gallery__container {
    padding-bottom: 70px;
  }
  .gallery__content-right {
    margin-top: 80px;
  }
  .swiper-container_2 {
    width: 594px;
    height: 594px;
    overflow: hidden;
  }
  .swiper-container_2 .swiper-slide {
    height: 280px;
  }

  /*Catalog*/
  
  .catalog__container {
    padding-bottom: 70px;
  }
  .catalog__top_p {
    margin-right: 0;
  }
  .catalog__domenico_img {
    width: 437px;
    height: 274px;
  }
  .catalog__domenico {
    margin-right: auto;
    max-width: 437px;
  }
  .catalog__domenico_1024px {
    display: none;
  }
  .catalog__accordion {
    width: 437px;
  }
  .catalog__accordion_content_p_1600 {
    display: block;
    width: max-content;
  }
  .catalog__accordion_content_p {
    display: none;
  }
  .ui-accordion .ui-accordion-content {
    padding: 0;
    padding-bottom: 90px;
  }
  /*Events*/

  .events__list_item {
    width: 290px;
  }
  .events__list_item_2 {
    width: 290px;
  }
  .events__item_heading {
    margin-left: 35px;
    min-width: 232px;
    width: min-content;
  }
  .events__item_content {
    margin: 10px 35px 0px 35px;
  }
  .events__item_link {
    margin-left: 35px;
  }
  .events__item_img {
    height: 200px;
  }
  /*Editions*/

  .swiper-container_3 {
    width: 630px;
  }
  .projects__content_p {
    width: 100%;
  }

  /*Projects*/ 

  .swiper-container_4 {
    width: 818px;
    height: 128px;
  }
  
  /*Contacts*/ 

  .my_map {
    height: 700px;
    width: 537px;
  }
  .contacts__content_left {
    padding: 124px 100px 104px 50px;
  }
  .contacts__input {
    width: 335px;
  }
  .contacts__container {
    padding: 0;
    justify-content: space-between;
  }
  .contacts__heading {
    margin-left: 45px;
  }
  .contacts__form_button {
    margin-bottom: 17px;
  }
  .contacts__social_img {
    width: 59px;
    height: 59px;
  }
  .footer__social_img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width:1023px) {
  /*Header*/ 
  .header__burger {
    padding: 0;
  }
  .header-burger {
    padding: 0;
  }
  /*Hero*/ 
  .hero__content {
    margin-top: 103px;
    top: 0;
  }
  .about__us_content_heading {
    margin-bottom: 15px;
  }
  .hero__content {
    margin-top: 113px;
  }
  /*About-us*/
  .about__us_container {
    padding-top: 80px;
  }
  .about__us_content_p {
    width: 666px;
  }
  /*Gallery*/
  .gallery__container {
    flex-wrap: wrap;
  }
  .gallery__select_p_2_1024px {
    display: block;
    margin-top: 30px;
  }
  .gallery__select_p_2 {
    display: none;
  }
  .swiper-container_2 {
    width: 668px;
  }
  .gallery__select {
    margin-bottom: 120px;
  }
  .swiper-container_2 .swiper-slide {
    height: 280px;
  }
  .gallery__slide_img {
    height: 100%;
    width: 317px;
  }
  .gallery__select {
    margin-bottom: 90px;
  }
  
  /*Catalog*/ 
  
  .catalog__flags_img:not(:last-child) {
    margin-right: 49px;
  }
  .catalog__domenico {
    display: none;
  }
  .catalog__accordion {
    width: 100%;
    margin-bottom: 50px;
  }
  .catalog__accordion_content_p {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .catalog__accordion_content_p_1600 {
    display: none;
  }
  .ui-accordion .ui-accordion-content {
    padding-bottom: 0;
  }
  .catalog__domenico_1024px {
    display: block;
    max-width: 100%;
  }
  .catalog__domenico_img {
    width: 668px;
    height: 419px;
  }
  .catalog__heading {
    margin-bottom: 17px;
  }
  .catalog__top_p {
    margin-bottom: 18px;
  }
  .catalog__domenico_date {
    margin-bottom: 4px;
  }
  .catalog__container {
    padding-bottom: 49px;
    padding-top: 80px;
  }
  

  /*Events*/
  .events__list_item {
    padding-bottom: 50px;
    width: 317px;
    position: relative;
    height: 683px;
  }
  .events__list_item_2 {
    width: 317px;
  }

  .events__item_link {
    position: absolute;
    bottom: 0;
  }
  .events__list_item_hide_768 {
    display: none;
  }

  /*Editions*/
  .editions__container {
    padding-bottom: 0;
    display: block;
    background-image: url(../img/editions-background-768.png);
  }
  
  .editions__categories {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 153px;
    width: 100%;
    align-items: flex-end;    
  }
  .editions__content_right .rigth {
    top: -45px;
    left: -12px;
  }
  .editions__content_right .left {
    top: -60px;
    left: 70px;
  }
  .swiper-pagination_editions {
    top: -55px;
    left: 20px;
  }
  .editions__p {
    margin-top: 0px;
  }
  .editions__heading {
    margin-bottom: 23px;
  }
  .editions__content_right {
    margin-left: 27px;
  }
  .editions__categories_item {
    margin-right: 30px;
    width: 222px;    
  }
  .editions__price {
    margin-bottom: 115px;
  }
  .swiper-container_3 {
    width: 614px;
  }
  .editions__swiper_p {
    margin-top: 10px;
  }
  .editions__swiper_p_price {
    margin-top: 10px;
  }
  .editions__swiper_button {
    padding: 9px 23px;
  }
  /*Projects*/ 
  .swiper-container_4 {
    width: 562px;
    height: 106px;
  }
  
  .projects__swiper_slide {
    padding-top: 30px;
  }
  .projects__container .rigth {
    top: 55px;
    left: 15px;
  }
  .projects__container .left {
    top: 40px;
  }
  .projects__content-link {
    display: block;
  }
  .projects__swiper_heading {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /*Contacts*/
  .my_map {
    width: 338px;
  }
  .contacts__form_button {
    margin-bottom: 13px;
  }
  .contacts__social {
    margin-right: 26px;
  }
  .contacts__content_left {
    padding-right: 43px;
  }
  .contacts__left_p-2 {
    margin-top: 10px;
  }
  .contacts__left_p-2 {
    margin-top: 20px;
  }
  /*Footer*/
  .footer__container {
    padding-top: 34px;
    padding-bottom: 38px;
  }
  .footer__social_img:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width:767px) {
  /*Header*/
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__img {
    width: 97px;
    height: 22px;
  }
  .header__burger {
    width: 20px;
    height: 15px;
  }
  .header-burger {
    width: 16px;
    height: 16px;
  }

  /*Hero*/
  .hero__container {
    padding-left: 0;
    padding-right: 0;
  }
  .hero__content {
    margin-top: 0px;
    top: 30px;
    text-align: center;
  }
  .hero__content_text {
    margin-right: auto;
    margin-left: auto;
    width: 258px;
    font-size: 32px;
    line-height: 37px;
  }
  .hero__content_text-2 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    min-width: 265px;
    width: min-content;
  }
  .hero__button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    padding: 8px 18.5px;
    font-size: 12px;
  }
  .swiper-container {
    height: 355px;
  }
  .hero__swiper_image-1 {
    background-image: url(../img/hero-slider-1-320.png);
    background-size: contain;
  }
  .hero__swiper_image-2 {
    background-image: url(../img/hero-slider-2-320.png);
    background-size: contain;
  }
  .hero__swiper_image-3 {
    background-image: url(../img/hero-slider-3-320.png);
    background-size: contain;
  }

  /*About us*/
  
  .about__us_content_heading {
    font-size: 28px;
    line-height: 38px;
  }
  .about__us_content_p {
    font-size: 14px;
    line-height: 28px;
  }

  /*Gallery*/

  .gallery__heading {
    line-height: 38px;
    font-size: 28px;
  }
  .swiper-container_2 {
    width: 290px;
    height: 367px;
  }
  .swiper-container_2 .swiper-slide {
    height: 367px;
  }

  /*Catalog*/
  .catalog__heading {
    line-height: 38px;
    font-size: 28px;
  }
  .catalog__flags_img {
    width: 32px;
    height: 32px;
  }
  .catalog__flags_img:not(:last-child) {
    margin-right: 28px;
  }
  .ui-accordion .ui-accordion-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .catalog__accordion_btn {
    width: 30px;
    height: 30px;
  }
  .ui-accordion .ui-accordion-header {
    font-size: 18px;
  }
  .catalog__accordion_btn_svg {
    width: 10px;
    height: 10px;
    transform: translateY(30%);
  }
  .my__accordion-header-collapsed .catalog__accordion_btn_svg {
    transform: rotate(180deg) translateY(-40%);
  }
  .catalog__domenico_img {
    width: 290px;
    height: 181px;
  }

  /*Events*/
  .events__list {
    display: none;
  }
  .swiper-container-events {
    overflow: hidden;
  }
  .events__button {
    display: none;
  }
}





